.App {
	text-align: center;
	padding-top: 3rem;
	min-height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: repeat;
	background-image: url(../../../public/images/pokemonbackdrop.webp);
}

.navbar {
	background-color: #ef5350 !important;
}

.card {
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}
